*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    min-height: 100vh;
}

.pg-modoEscuro{
    background-color: black;
    color: white;
}

.bt-modoEscuro{
    background-color: white;
    color: black;
    border-radius: 5px;
}